<ion-view view-title="Búsqueda de colegios" cache-view="false" > 
	<ion-content class="padding">
		<div class="bar bar-header item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" placeholder="Buscar colegio" ng-model="colegio.busqueda">
			</label>
			<button class="button" ng-click="buscar()">
				Buscar
			</button>
		</div>

		<ion-list >
			<ion-item class="item-remove-animate item-icon-right" ng-repeat="colegio in colegio.list" type="item-text-wrap" href="#">
       			<h2>{{colegio.nombreestablecimiento}}</h2>
				<p><b>Ubicación </b>{{colegio.nombremunicipio}}, {{colegio.nombredepartamento}}</p>
				<p><b>Teléfono </b>{{colegio.telefono}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>