<ion-view view-title="Cupo colegio">
	<ion-content padding="true" scroll="false">
		<div class="row responsive-md">
			<div class="col col-50 col-offset-25">
				<div class="header padding text-center">
					<img src="img/01.jpg" style="width:80%" alt="Cupo colegio"/>
				</div>
				<div class="row row-no-padding">
					<div class = "col text-justify">
						<label style="color: gray">Aplicación móvil que proporciona un direcitorio de instituciones académicas en los niveles de basica primaria y secundaria. Obteneniendo los servicios ofrecidos, permitiendo calificar cada una de ellas.</label>
						<br>
					</div>
					<div id="fb-root"></div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
